venv/
.venv/
.idea/
.ruff_cache/

__pycache__/
*.py[cod]
*$py.class

build/
dist/
*.egg-info/
__pycache__/
*.pyc

# Ignore macOS system files
.DS_Store

# Sphinx documentation
docs/_build/
docs/api/

# Python packaging
*.egg-info/

__pycache__/
*.pyc

# development QASM files
QASM_files/development
benchmarks/

run.py
adapted_run_benchmarks.py
/runs
/outputs

inputs/algorithms_heuristic/dev_06_2pzs.json
inputs/algorithms_heuristic/dev_07_2pzs.json
inputs/qasm_files/grover-noancilla_indep_tket/grover-noancilla_indep_tket_5.qasm
inputs/qasm_files/grover-noancilla_indep_tket/grover-noancilla_indep_tket_6.qasm
inputs/qasm_files/grover-noancilla_indep_tket/grover-noancilla_indep_tket_7.qasm
inputs/qasm_files/grover-noancilla_indep_tket/grover-noancilla_indep_tket_8.qasm
inputs/qasm_files/grover-noancilla_indep_tket/grover-noancilla_indep_tket_9.qasm
inputs/qasm_files/grover-noancilla_indep_tket/grover-noancilla_indep_tket_10.qasm
inputs/qasm_files/grover-noancilla_indep_tket/grover-noancilla_indep_tket_11.qasm
inputs/qasm_files/grover-noancilla_nativegates_quantinuum_tket/grover-noancilla_nativegates_quantinuum_tket_5.qasm
inputs/qasm_files/grover-noancilla_nativegates_quantinuum_tket/grover-noancilla_nativegates_quantinuum_tket_6.qasm
inputs/qasm_files/grover-noancilla_nativegates_quantinuum_tket/grover-noancilla_nativegates_quantinuum_tket_7.qasm
inputs/qasm_files/grover-noancilla_nativegates_quantinuum_tket/grover-noancilla_nativegates_quantinuum_tket_8.qasm
notebooks/modify_qasm.ipynb
inputs/qasm_files/generated/generated_5.qasm
inputs/qasm_files/generated/generated_6.qasm
inputs/qasm_files/generated/generated_7.qasm
inputs/qasm_files/generated/generated_8.qasm
inputs/qasm_files/generated/generated_9.qasm
inputs/qasm_files/generated/generated_10.qasm
inputs/qasm_files/generated/generated_11.qasm
inputs/qasm_files/generated/generated_12.qasm
inputs/qasm_files/generated/generated_13.qasm
inputs/qasm_files/generated/generated_14.qasm
inputs/qasm_files/generated/generated_15.qasm
inputs/qasm_files/generated/generated_16.qasm
inputs/qasm_files/generated/generated_17.qasm
inputs/qasm_files/generated/generated_18.qasm
inputs/qasm_files/generated/generated_19.qasm
inputs/qasm_files/generated/generated_20.qasm
inputs/qasm_files/generated/generated_21.qasm
inputs/qasm_files/generated/generated_22.qasm
inputs/qasm_files/generated/generated_23.qasm
inputs/qasm_files/generated/generated_24.qasm
inputs/qasm_files/generated/generated_25.qasm
inputs/qasm_files/qpeexact_indep_tket/qpeexact_indep_tket_5.qasm
inputs/qasm_files/qpeexact_indep_tket/qpeexact_indep_tket_6.qasm
inputs/qasm_files/qpeexact_indep_tket/qpeexact_indep_tket_7.qasm
inputs/qasm_files/qpeexact_indep_tket/qpeexact_indep_tket_8.qasm
inputs/qasm_files/qpeexact_indep_tket/qpeexact_indep_tket_9.qasm
inputs/qasm_files/qpeexact_indep_tket/qpeexact_indep_tket_10.qasm
inputs/qasm_files/qpeexact_indep_tket/qpeexact_indep_tket_11.qasm
inputs/qasm_files/qpeexact_indep_tket/qpeexact_indep_tket_12.qasm
inputs/qasm_files/qpeexact_indep_tket/qpeexact_indep_tket_13.qasm
inputs/qasm_files/qpeexact_indep_tket/qpeexact_indep_tket_14.qasm
inputs/qasm_files/qpeexact_indep_tket/qpeexact_indep_tket_15.qasm
inputs/qasm_files/qpeexact_indep_tket/qpeexact_indep_tket_16.qasm
inputs/qasm_files/qpeexact_indep_tket/qpeexact_indep_tket_17.qasm
inputs/qasm_files/qpeexact_indep_tket/qpeexact_indep_tket_18.qasm
inputs/qasm_files/qpeexact_indep_tket/qpeexact_indep_tket_19.qasm
inputs/qasm_files/qpeexact_indep_tket/qpeexact_indep_tket_20.qasm
inputs/qasm_files/qpeexact_indep_tket/qpeexact_indep_tket_21.qasm
inputs/qasm_files/qpeexact_indep_tket/qpeexact_indep_tket_22.qasm
inputs/qasm_files/qpeexact_indep_tket/qpeexact_indep_tket_23.qasm
inputs/qasm_files/qpeexact_indep_tket/qpeexact_indep_tket_24.qasm
inputs/qasm_files/qpeexact_indep_tket/qpeexact_indep_tket_25.qasm
inputs/qasm_files/random_indep_tket/random_indep_tket_5.qasm
inputs/qasm_files/random_indep_tket/random_indep_tket_6.qasm
inputs/qasm_files/random_indep_tket/random_indep_tket_7.qasm
inputs/qasm_files/random_indep_tket/random_indep_tket_8.qasm
inputs/qasm_files/random_indep_tket/random_indep_tket_9.qasm
inputs/qasm_files/random_indep_tket/random_indep_tket_10.qasm
inputs/qasm_files/random_indep_tket/random_indep_tket_11.qasm
inputs/qasm_files/random_indep_tket/random_indep_tket_12.qasm
inputs/qasm_files/random_indep_tket/random_indep_tket_13.qasm
inputs/qasm_files/random_indep_tket/random_indep_tket_14.qasm
inputs/qasm_files/random_indep_tket/random_indep_tket_15.qasm
inputs/qasm_files/random_indep_tket/random_indep_tket_16.qasm
inputs/qasm_files/random_indep_tket/random_indep_tket_17.qasm
inputs/qasm_files/random_indep_tket/random_indep_tket_18.qasm
inputs/qasm_files/random_indep_tket/random_indep_tket_19.qasm
inputs/qasm_files/random_indep_tket/random_indep_tket_20.qasm
inputs/qasm_files/random_indep_tket/random_indep_tket_21.qasm
inputs/qasm_files/random_indep_tket/random_indep_tket_22.qasm
inputs/qasm_files/random_indep_tket/random_indep_tket_23.qasm
inputs/qasm_files/random_indep_tket/random_indep_tket_24.qasm
inputs/qasm_files/random_indep_tket/random_indep_tket_25.qasm
inputs/qasm_files/random_nativegates_ibm_tket/random_nativegates_ibm_tket_5.qasm
inputs/qasm_files/random_nativegates_ibm_tket/random_nativegates_ibm_tket_6.qasm
inputs/qasm_files/random_nativegates_ibm_tket/random_nativegates_ibm_tket_7.qasm
inputs/qasm_files/random_nativegates_ibm_tket/random_nativegates_ibm_tket_8.qasm
inputs/qasm_files/random_nativegates_ibm_tket/random_nativegates_ibm_tket_9.qasm
inputs/qasm_files/random_nativegates_ibm_tket/random_nativegates_ibm_tket_10.qasm
inputs/qasm_files/random_nativegates_ibm_tket/random_nativegates_ibm_tket_11.qasm
inputs/qasm_files/random_nativegates_ibm_tket/random_nativegates_ibm_tket_12.qasm
inputs/qasm_files/random_nativegates_ibm_tket/random_nativegates_ibm_tket_13.qasm
inputs/qasm_files/random_nativegates_ibm_tket/random_nativegates_ibm_tket_14.qasm
inputs/qasm_files/random_nativegates_ibm_tket/random_nativegates_ibm_tket_15.qasm
inputs/qasm_files/random_nativegates_ibm_tket/random_nativegates_ibm_tket_16.qasm
inputs/qasm_files/random_nativegates_ibm_tket/random_nativegates_ibm_tket_17.qasm
inputs/qasm_files/random_nativegates_ibm_tket/random_nativegates_ibm_tket_18.qasm
inputs/qasm_files/random_nativegates_ibm_tket/random_nativegates_ibm_tket_19.qasm
inputs/qasm_files/random_nativegates_ibm_tket/random_nativegates_ibm_tket_20.qasm
inputs/qasm_files/random_nativegates_ibm_tket/random_nativegates_ibm_tket_21.qasm
inputs/qasm_files/random_nativegates_ibm_tket/random_nativegates_ibm_tket_22.qasm
inputs/qasm_files/random_nativegates_ibm_tket/random_nativegates_ibm_tket_23.qasm
inputs/qasm_files/random_nativegates_ibm_tket/random_nativegates_ibm_tket_24.qasm
inputs/qasm_files/random_nativegates_ibm_tket/random_nativegates_ibm_tket_25.qasm
notebooks/sandbox.ipynb
