venv/
.venv/
.idea/
.ruff_cache/

__pycache__/
*.py[cod]
*$py.class

build/
dist/
*.egg-info/
__pycache__/
*.pyc

# Ignore macOS system files
.DS_Store

# Sphinx documentation
docs/_build/
docs/api/

# Python packaging
*.egg-info/

__pycache__/
*.pyc

# development QASM files
QASM_files/development
benchmarks/

run.py
adapted_run_benchmarks.py
/inputs
/runs
/outputs
simulation_results_20251107_150334.h5
simulation_results_20251107_150504.h5
outputs/simulation_results_20251107_150946.h5
