venv/
.venv/
.idea/
.ruff_cache/

__pycache__/
*.py[cod]
*$py.class

build/
dist/
*.egg-info/
__pycache__/
*.pyc

# Ignore macOS system files
.DS_Store

# Sphinx documentation
docs/_build/
docs/api/

# Python packaging
*.egg-info/

__pycache__/
*.pyc

# development QASM files
QASM_files/development
benchmarks/

run.py
adapted_run_benchmarks.py
/runs
/outputs

inputs/algorithms_heuristic/dev_06_2pzs.json
inputs/algorithms_heuristic/dev_07_2pzs.json
inputs/qasm_files/grover-noancilla_indep_tket/grover-noancilla_indep_tket_5.qasm
inputs/qasm_files/grover-noancilla_indep_tket/grover-noancilla_indep_tket_6.qasm
inputs/qasm_files/grover-noancilla_indep_tket/grover-noancilla_indep_tket_7.qasm
inputs/qasm_files/grover-noancilla_indep_tket/grover-noancilla_indep_tket_8.qasm
inputs/qasm_files/grover-noancilla_indep_tket/grover-noancilla_indep_tket_9.qasm
inputs/qasm_files/grover-noancilla_indep_tket/grover-noancilla_indep_tket_10.qasm
inputs/qasm_files/grover-noancilla_indep_tket/grover-noancilla_indep_tket_11.qasm
inputs/qasm_files/grover-noancilla_nativegates_quantinuum_tket/grover-noancilla_nativegates_quantinuum_tket_5.qasm
inputs/qasm_files/grover-noancilla_nativegates_quantinuum_tket/grover-noancilla_nativegates_quantinuum_tket_6.qasm
inputs/qasm_files/grover-noancilla_nativegates_quantinuum_tket/grover-noancilla_nativegates_quantinuum_tket_7.qasm
inputs/qasm_files/grover-noancilla_nativegates_quantinuum_tket/grover-noancilla_nativegates_quantinuum_tket_8.qasm
notebooks/modify_qasm.ipynb
